html{
	margin: 0px;
	padding:0px;
}
body{
	margin: 0px;
	padding:0px;
	background:url('/images/fridge.jpg') top center no-repeat;
}
#fridge{
	margin:15px auto;
	margin-top:30px;
	margin-bottom:30px;
	width:550px;
	height:880px;
	position:relative;
	overflow:hidden;
}
#fridge img.schoolpic{
	position:absolute;
	cursor:pointer;
}
.char{
	position:absolute;
}
